YAMTRACK_DATA=/path/to/yamtrack/data
YAMTRACK_PORT=1234
YAMTRACK_SECRET=YamtrackSecret
YAMTRACK_NETWORK=*CIDR network for vaultwarden container*

YAMTRACK_SOCIAL_PROVIDERS=
YAMTRACK_SOCIALACCOUNT_PROVIDERS=
