AUTHENTIK_DATA=${DATA_DIR}/path/to/authentik/data
AUTHENTIK_PG_PASS=*your postgress password*
AUTHENTIK_SECRET_KEY=*your secret key*
AUTHENTIK_VERSION=*version you want to use*
AUTHENTIK_NETWORK=*CIDR network for authentik containers*
